/*
Design by http://www.bluewebtemplates.com
Released for free under a Creative Commons Attribution 3.0 License
*/
@charset "utf-8";

body {
	margin: 0;
	padding: 0;
	width: 100%;
	color: #5f5f5f;
	font: normal 12px/1.8em Georgia, "Times New Roman", Times, serif;
}

html, .main {
	padding: 0;
	margin: 0;
	background-color: #fff;
}

.clr {
	clear: both;
	padding: 0;
	margin: 0;
	width: 100%;
	font-size: 0px;
	line-height: 0px;
}

h1 {
	margin: 0;
	padding: 32px 0 0 40px;
	color: #fff;
	font: normal 40px/1.2em Georgia, "Times New Roman", Times, serif;
}

h1 a, h1 a:hover {
	color: #fff;
	text-decoration: none;
}

h1 span {
	color: #007236;
}

h1 small {
	font: normal 13px/1.2em Georgia, "Times New Roman", Times, serif;
	color: #63d7f3;
}

h2 {
	font: normal 24px Georgia, "Times New Roman", Times, serif;
	color: #4b4b4b;
	padding: 8px 0;
	margin: 8px 0;
}

h4 {
	font: normal 20px Georgia, "Times New Roman", Times, serif;
	color: #f3f3f3;
	padding: 0 0 8px 0;
	margin: 8px 0;
}

p {
	margin: 8px 0;
	padding: 0 0 8px 0;
	font: normal 12px/1.8em Georgia, "Times New Roman", Times, serif;
}

a {
	color: #4ea4ba;
	text-decoration: underline;
}

.style2 {
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-weight: bold;
	font-size: 12px;
}

.header, .content, .menu_nav, .fbg, .footer, form, ol, ol li, ul,
	.content .mainbar, .content .sidebar {
	margin: 0;
	padding: 0;
}

.content_resize, .fbg_resize, .footer_resize {
	margin: 0 auto;
	padding: 0 40px;
	width: 890px;
}

.errors {
	font-style: italic;
	color: green;
 }

/* header */
.header {
	background: url(images/header_bg.jpg) no-repeat center top;
}

.header_resize {
	margin: 0 auto;
	padding: 0;
	width: 970px;
	height: 383px;
}

.header .logo {
	padding: 0;
	float: left;
	width: auto;
}

/* menu */
.menu_nav {
	padding: 48px 0 0 20px;
	float: right;
	width: auto;
}

.menu_nav ul {
	list-style: none;
	padding-top: 14px;
}

.menu_nav ul li {
	margin: 0 4px;
	float: left;
}

.menu_nav ul li a {
	display: block;
	margin: 0;
	padding: 20px 24px;
	color: #fff;
	text-decoration: none;
}

.menu_nav ul li.active a, .menu_nav ul li a:hover {
	text-decoration: underline;
}

/* content */
.content_resize {
	margin-top: -40px;
	padding: 16px 0 24px 40px;
	width: 930px;
	background-color: #fff;
}

.content .mainbar {
	float: left;
	width: 630px;
}

.container {
	margin: 0px auto;
	width: 630px;
}

.content .mainbar img {
	margin-bottom: 24px;
	padding: 4px;
	border: 1px solid #b7b7b7;
	background-color: #fff;
}

.content .mainbar img.fl {
	float: left;
	margin-right: 12px;
}

.content .mainbar .article, .content .sidebar .gadget {
	margin: 0;
	padding: 0 0 16px 0;
}

.content .sidebar {
	float: right;
	width: 276px;
}

ul.sb_menu, ul.ex_menu {
	margin: 0;
	padding: 0;
	list-style: none;
	color: #959595;
}

ul.sb_menu li {
	padding: 4px 0;
	border-bottom: 1px solid #e3e3e3;
	width: 220px;
}

ul.ex_menu li {
	padding: 4px 0 8px;
}

ul.sb_menu li, ul.ex_menu li {
	margin: 0;
	padding-left: 16px;
	background: url(images/li.gif) no-repeat left 9px;
}

ul.sb_menu li a, ul.ex_menu li a {
	color: #5f5f5f;
	text-decoration: none;
	margin-left: -16px;
	padding-left: 16px;
}

ul.sb_menu li a:hover, ul.ex_menu li a:hover {
	color: #4ea4ba;
}

ul.sb_menu li a:hover {
	text-decoration: underline;
}

ul.ex_menu li a:hover {
	text-decoration: none;
}

/* subpages */
.content .mainbar .comment {
	margin: 0;
	padding: 16px 0 0 0;
}

.content .mainbar .comment img.userpic {
	border: 1px solid #dedede;
	margin: 10px 16px 0 0;
	padding: 0;
	float: left;
}

/* fbg */
.fbg_resize {
	padding: 24px 40px;
	background-color: #4ea4ba;
}

.fbg, .fbg a, .fbg h2 {
	color: #fff;
}

.fbg img {
	padding: 4px;
	background-color: #fff;
	border: 1px solid #5e99a8;
}

.fbg .col {
	margin: 0;
	float: left;
}

.fbg .c1 {
	padding: 0 16px 0 0;
	width: 240px;
}

.fbg .c2 {
	padding: 0 16px;
	width: 296px;
}

.fbg .c3 {
	padding: 0 0 0 16px;
	width: 290px;
}

.fbg .c1 img {
	margin: 4px;
}

.fbg .c3 img {
	margin: 8px 16px 4px 0;
	float: left;
}

/* footer */
.footer {
	padding: 16px;
}

.footer p.lf {
	margin: 0;
	padding: 4px 0;
	float: right;
	width: auto;
	line-height: 1.5em;
	color: #727272;
}

ul.fmenu {
	margin: 0;
	padding: 2px 0;
	list-style: none;
	float: left;
	width: auto;
}

ul.fmenu li {
	margin: 0;
	padding: 0 4px;
	float: left;
}

ul.fmenu li a {
	color: #727272;
	text-decoration: none;
	padding: 2px 6px;
}

ul.fmenu li a:hover, ul.fmenu li.active a {
	color: #4ea4ba;
}

ul.fmenu li a:hover {
	text-decoration: underline;
}

/* form */
ol {
	list-style: none;
}

ol li {
	display: block;
	clear: both;
}

ol li label {
	display: block;
	margin: 0;
	padding: 16px 0 0 0;
}

ol li input.text {
	width: 480px;
	border: 1px solid #c0c0c0;
	margin: 2px 0;
	padding: 5px 2px;
	height: 16px;
	background: #fff;
}

ol li textarea {
	width: 480px;
	border: 1px solid #c0c0c0;
	margin: 2px 0;
	padding: 2px;
	background: #fff;
}

ol li .send {
	margin: 16px 0 0 0;
}

/* Button Style*/
.button {
	display: inline-block;
	margin-top: 2em;
	padding: 1em 2em 1em 2em;
	background: #4ea4ba;
	letter-spacing: 0.20em;
	line-height: 1.8em;
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 300;
	font-size: 1em;
	color: #ffffff;
}

.button:before {
	display: inline-block;
	background: #8DCB89;
	margin-right: 1em;
	width: 20px;
	height: 20px;
	line-height: 20px;
	border-radius: 10px;
	text-align: center;
	color: #4ea4ba;
}

.button-small {
	
}

/*********************************************************************************/
/* Three Columns                                                                 */
/*********************************************************************************/
#three-column {
	overflow: hidden;
	padding-bottom: 4em;
	text-align: center;
}

#three-column h2 {
	margin: 1em 0em;
	text-transform: uppercase;
	font-size: 1.5em;
	font-weight: 350;
}

#three-column .icon {
	position: relative;
	display: block;
	margin: 0px auto 0.80em auto;
	line-height: 150px;
	font-size: 4em;
	width: 150px;
	height: 150px;
	border-radius: 100px;
	text-align: center;
	color: #632F00;
}

#three-column #tbox1, #three-column #tbox2, #three-column #tbox3 {
	float: left;
	width: 220px;
	padding: 80px 40px 80px 40px;
}

#three-column .title {
	letter-spacing: 0.10em;
	text-align: center;
	text-transform: uppercase;
}

#three-column .title h2 {
	font-size: 1.60em;
	font-weight: 300;
	font-family: 'Open Sans', sans-serif;
	color: #261300;
}

#three-column .title .byline {
	padding-top: 0.50em;
	font-size: 0.90em;
	color: #858585;
}

#three-column .arrow-down {
	border-top-color: #292929;
}

/* Welcome            */
#welcome {
	overflow: hidden;
	width: 500px;
	padding: 8em 50px 8em 50px;
	text-align: center;
	color: rgba(0, 0, 0, 0.6);
}

#welcome .content {
	padding: 0em 4em;
}

#welcome .title h2 {
	color: rgba(0, 0, 0, 0.8);
}

#welcome a, #welcome strong {
	color: rgba(0, 0, 0, 0.8);
}

#wrapper1 {
	background: #4ea4ba;
}

/*********************************************************************************/
/* analyse                                                                */
/*********************************************************************************/
#welcome-analyse {
	overflow: hidden;
	width: 500px;
	 padding: 20px 20px 20px;
	margin: 0 auto;
	text-align: center;
	color: rgba(0, 0, 0, 0.6);
}

#welcome-analyse .content {
	padding: 0em 4em;
}

#wrapperanalyse {
	background: #4ea4ba;
}

/*********************************************************************************/
/* Login                                                                */
/*********************************************************************************/
.container-login {
	overflow: hidden;
	width: 500px;
	background: #4ea4ba;
	text-align: center;
	color: rgba(0, 0, 0, 0.6);
 
}

.login {
  position: relative;
  margin: 0 auto;
  padding: 20px 20px 20px;
  width: 310px;
  background: #4ea4ba;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
}
.login:before {
  content: '';
  position: absolute;
  top: -8px;
  right: -8px;
  bottom: -8px;
  left: -8px;
  z-index: -1;
  background: rgba(0, 0, 0, 0.08);
  border-radius: 4px;
}
.login h1 {
  margin: -20px -20px 21px;
  line-height: 40px;
  font-size: 15px;
  font-weight: bold;
  color: #555;
  text-align: center;
  text-shadow: 0 1px white;
  background: #f3f3f3;
  border-bottom: 1px solid #cfcfcf;
  border-radius: 3px 3px 0 0;
  background-image: -webkit-linear-gradient(top, whiteffd, #eef2f5);
  background-image: -moz-linear-gradient(top, whiteffd, #eef2f5);
  background-image: -o-linear-gradient(top, whiteffd, #eef2f5);
  background-image: linear-gradient(to bottom, whiteffd, #eef2f5);
  -webkit-box-shadow: 0 1px whitesmoke;
  box-shadow: 0 1px whitesmoke;
}
.login p {
  margin: 20px 0 0;
}
.login p:first-child {
  margin-top: 0;
}
.login input[type=text], .login input[type=password] {
  width: 278px;
}
.login p.remember_me {
  float: left;
  line-height: 31px;
}
.login p.remember_me label {
  font-size: 12px;
  color: #777;
  cursor: pointer;
}
.login p.remember_me input {
  position: relative;
  bottom: 1px;
  margin-right: 4px;
  vertical-align: middle;
}
.login p.submit {
  text-align: right;
}

.login-help {
  margin: 20px 0;
  font-size: 20px;
  color: black; 
  text-align: center;
  text-shadow: 0 1px #f3f3f3;
}
.login-help a {
  color: #261300;
  text-decoration: none;
}
.login-help a:hover {
  text-decoration: underline;
}

:-moz-placeholder {
  color: #c9c9c9 !important;
  font-size: 13px;
}

::-webkit-input-placeholder {
  color: #ccc;
  font-size: 13px;
}

input {
  font-family: 'Lucida Grande', Tahoma, Verdana, sans-serif;
  font-size: 14px;
}

input[type=text], input[type=password] {
  margin: 5px;
  padding: 0 10px;
  width: 200px;
  height: 34px;
  color: #404040;
  background: white;
  border: 1px solid;
  border-color: #c4c4c4 #d1d1d1 #d4d4d4;
  border-radius: 2px;
  outline: 5px solid #eff4f7;
  -moz-outline-radius: 3px;
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
}
input[type=text]:focus, input[type=password]:focus {
  border-color: #7dc9e2;
  outline-color: #dceefc;
  outline-offset: 0;
}

input[type=submit] {
  padding: 0 18px;
  height: 29px;
  font-size: 12px;
  font-weight: bold;
  color: #527881;
  text-shadow: 0 1px #e3f1f1;
  background: #cde5ef;
  border: 1px solid;
  border-color: #b4ccce #b3c0c8 #9eb9c2;
  border-radius: 16px;
  outline: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  background-image: -webkit-linear-gradient(top, #edf5f8, #cde5ef);
  background-image: -moz-linear-gradient(top, #edf5f8, #cde5ef);
  background-image: -o-linear-gradient(top, #edf5f8, #cde5ef);
  background-image: linear-gradient(to bottom, #edf5f8, #cde5ef);
  -webkit-box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
}
input[type=submit]:active {
  background: #cde5ef;
  border-color: #9eb9c2 #b3c0c8 #b4ccce;
  -webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
}

.lt-ie9 input[type=text], .lt-ie9 input[type=password] {
  line-height: 34px;
}

.viewsparql{
text-align: center
}